body::before {
    display: block;
    content: " ";
    height: 60px;
}

#hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#hero-content {
    background-color: rgba(241, 241, 241, 0.829);
    padding: 20px;
    border-radius: 5px;
    
}

#hero-text {
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
}

#services-content {
    background-color: rgba(218, 213, 213, 0.829);
    padding: 20px;
    border-radius: 5px;
}

#bottom-half {
    background-color: rgba(218, 213, 213, 0.829);
    padding: 20px;
    border-radius: 5px;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}

@media screen and (max-width: 768px) {
    #hero {
        height: 100vh;
    }

    #hero-content {
        padding: 10px;
    }
}
    

