body::before {
    display: block;
    content: " ";
    height: 60px;
}

a   {
    text-decoration: none;
}

#hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#hero-content {
    background-color: #f1f1f1d3;
    padding: 20px;
    border-radius: 5px;
    
}

#hero-text {
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
}

#services-content {
    background-color: #eeeeeed3;
    padding: 20px;
    border-radius: 3px;
}

#services-text {
    padding: 48px;
}


#contact {
    background-color: rgba(241, 241, 241, 0.829);
    padding: 20px;
    border-radius: 3px;
}

#map-time {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 100%;
    background-color: rgba(241, 241, 241, 0.829);
}

#open-hours {
    padding: 20px;
    border-radius: 3px;
    min-width: 50%;
}

#map {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
  }
  

@media screen and (max-width: 1000px) {
    #map {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        max-width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0;
    }

    nav {
        padding: 20px;
    }

    #hero-content {
        padding: 10px;
    }

    #picture {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 1px;
    }

    #services-content {
        margin: 0;
        padding: 0;
    }

    #services-text {
        padding: 10px;
    }

    #contact {
        overflow: hidden;
        margin: 0;
    }

    #map-time {
        flex-direction: column;
        align-items: center;        
    }

    #email {
        overflow: auto;
    }

    #map {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        max-width: 60%;
    }
}
    

    


